body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
.navbar-link{
    margin-left: 350px;
   font-weight: 900;
   color: black;
}
.navbarheight{
    height: 150px;
}
.header{   
    background-color: #fff1cb;;
}
.button-style{
    background-color: rgb(153, 178, 54);
    color: white;
    border-radius: 10px;
    height: 59px;
    width: 150px;
    align-items: center;
}
#hero-section-h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: rgb(54, 57, 88);
}
#yellow-color{
    color: #FABE4C;
}
.card-image{
    background-color: rgb(241, 241, 241);
    border-radius: 5%;   
}
.number-234{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #FABE4C;
}
.third-section{
   font: roboto;
   font-weight: 700;
   color: #363958;
}
.card-text{
    font: roboto;
    font-weight: 400;
    color: #3E3E3E;
}
.card-title{
    Font:roboto;
    font-weight: 700;
    font-style: normal;
    font-size:24px;
    Line-height:28.13px;
    color: #363958;
}
.dress-title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
.forth-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-height{
    height: 100px;
}













